<h1>Editing point</h1>

<% form_for(@point) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @point %> |
<%= link_to 'Back', points_path %>