<h1>Listing points</h1>

<table>
  <tr>
  </tr>

<% @points.each do |point| %>
  <tr>
    <td><%= link_to 'Show', point %></td>
    <td><%= link_to 'Edit', edit_point_path(point) %></td>
    <td><%= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New point', new_point_path %>