<h1>Editing polygon</h1>

<% form_for(@polygon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @polygon %> |
<%= link_to 'Back', polygons_path %>