html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mapcelona !! */

body {
    overflow:auto;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

a {
    text-decoration:none;
    color:#222;
}

a:hover {
	color:#0066a1 !important;
}

#header {
/* 	height:110px; */
}

#logo{
    background:url("./images/logo.png") no-repeat scroll center center transparent;
    display:block;
    height:90px;
    width:300px;
    float:left;
    margin-left:5%;
    margin-top:10px;
}

#navigation {
    text-align:right;
    margin-right:8px;
    padding:10px 0 7px 0;
}

#languages{
	float:right;
    margin-right:5%;
    margin-top:20px;
}

#nav_links {
	float:right;
    margin-right:5%;
    margin-top:20px;
}

#actionlist {
/*
    height:20px;
    line-height:20px;
*/
	float:right;
    text-align:right;
    padding-right:8px;
/*
    font-size: 90%;
    position: relative;
    top: 70px;
*/
}

#actionlist a {
    padding:0 5px;
}

#spacer {
    clear:both;
}

#panel {
	background-color:#fff;
    float:left;
    height:80%;
    padding:5px;
    width:20%;
}

#panel_expanded {
    background-color:#fdfdfd;
    height:80%;
    left:20%;
	position:absolute;
	width:50%;
    z-index:10;
}

.panel_header, .panel_footer {
	text-align:right;
	padding:5px;
}

a.panel_trigger {
    cursor:pointer;
    font-size:90%;
    padding:5px;
    text-shadow:1px 1px 0 #efefef;
}

a#trigger_clear_params {
	color:OrangeRed !important;
	font-size:small;
	text-shadow:none !important;
}

a#trigger_clear_params:hover {
	text-decoration: underline !important;
}

a#trigger_update_map {
	display: inline-block;
    font-size:100% !important;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #f6fcff;
	border: solid 1px #00507f;
	background: #0066a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#0071b2), to(#005b90));
	background: -moz-linear-gradient(top,  #0071b2,  #005b90);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071b2', endColorstr='#005b90');
}
a#trigger_update_map:hover {
	text-decoration: none;
	color: #f6fcff !important;
	background: #005b90;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
a#trigger_update_map:active {
	position: relative;
	top: 1px;
	color: #f6fcff !important;
	background: #0066a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#005b90), to(#0071b2));
	background: -moz-linear-gradient(top,  #005b90,  #0071b2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#005b90', endColorstr='#0071b2');
}

#factors_target {
	background:#fdfdfd;
	border:3px dashed silver;
	margin:5px;
	overflow:auto;
}

p#drag_help {
	color:silver;
	font-size:small;
	padding:5px;
    text-align:center;
    text-shadow:1px 1px 0 #efefef;
}

#factors_expanded {
    display:block;
	overflow:auto;
	padding:5px;
}

li.expandable {
	cursor:pointer;
	margin-left:10px;
	margin-top:10px;
}

li.factor {
    margin-left:15px;
    padding:5px;
}

li.factor_disabled {
	background:none !important;
	border-color:#fdfdfd !important;
	color:#aaa !important;
	cursor:default !important;
}

ul#factors_expanded_list li.factor:hover {
    background: #f6f6f6; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e6e6e6'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e6e6e6)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #f6f6f6,  #e6e6e6); /* for firefox 3.6+ */
    border-bottom:1px solid #ddd;
    border-top:1px solid #fff;
    cursor:move;
    padding:4px 5px;
    z-index:20;
}

.slider {
    display:inline-block;
	width:200px;
	height:6px;
	border:1px solid #242424;
	position:relative;
	background:#cecece;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.slider-handle {
	position:absolute;
	width:12px;
	height:28px;
	background:url("images/slider_handle.png") no-repeat;
	cursor:e-resize;
	top:-11px;
}

#map {
    float:right;
    height:80%;
    width:80%;
}

#about {
    padding:20px;
}

#we {
    height:80%;
    overflow:hidden;
    padding:20px;
}

#about a {
    text-decoration:underline !important;
}

#about p {
    padding:10px;
}

/* floater */

#overlay {
    background:#efefef;
    height:100% !important;
    width:100% !important;
    position:fixed;
    top:0;
    left:0;
    z-index:50;
    opacity:0.6;
    filter:alpha(opacity=60);
}

#floater {
    border:3px solid #000;
    border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;
    box-shadow:0 0 15px #000; -moz-box-shadow:0 0 15px #000; -webkit-box-shadow:0 0 15px #000;
    left:50%;
    margin:-140px 0 0 -300px !important;
    opacity:1 !important;
    filter:alpha(opacity=100) !important;
    position:absolute;
    top:50%;
    width:600px;
    z-index:100;
}

#floater p {
    margin-top:20px;
    text-align:center;
    text-shadow:1px 1px 0 #fff;
}

#floater_abredatos {
    float:left;
    padding:30px;
    text-align:center;
    width:40%;
}

#floater_mapcelona {
    margin-left:270px;
    margin-top:50px;
    padding:30px;
}

#floater_mapcelona_logo {
    margin-left:-25px;
}

#floater_mapcelona p {
    margin-top:39px;
}

#floater_close {
    height:25px;
    position:absolute;
    right:-12px;
    top:-12px;
    width:25px;
}

.floater_close {
    cursor:pointer;
}

/* utils */

#notification {
	background:#efefef;
	margin:0 auto;
	position:fixed;
	text-align:center;
}

.gradient {
    background: #f6f6f6; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f6f6f6); /* for firefox 3.6+ */
}

.rounded {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.invisible {
    display:none !important;
}

.visible {
    display:block !important;
}
