/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mapcelona !! */

body {
    margin:3px 0 0;
    overflow:hidden;
}

a {
    text-decoration:none !important;
    color:#222;
}

#header {
    height:65px;
    width:100%;
}

#logo {
    float:left;
    margin-left:8px;
}

#navigation {
    text-align:right;
    margin-right:8px;
    padding:10px 0 7px 0;
}

#actionlist {
    height:20px;
    line-height:20px;
    background:#ddd;
    border-width:1px 0;
    border-style:solid;
    border-top-color:#f6f6f6;
    border-bottom-color:#c4c4c4;
    text-align:right;
    padding-right:8px;
}

#navigation a, #actionlist a {
    padding:0 5px;
}

#spacer {
    clear:both;
}

#panel {
    float:left;
    width:20%;
    height:100%;
}

#map {
    float:right;
    height:100%;
    width:80%;
    overflow:hidden;
}

#about {
    float:right;
    height:100%;
    width:80%;
    
    background: #f6f6f6; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f6f6f6); /* for firefox 3.6+ */
}